---
layout: page
title: Posts
header: Posts
group: navigation
---
{% include JB/setup %}

<div class="collection">
  {% for post in site.posts %}
    <a class="collection-item avatar" href="{{ post.url }}">
      <i class="material-icons circle green">
        {%if post.material_icon %}
          {{post.material_icon}}
        {%else%}
          insert_chart
        {%endif%}
      </i>

      <span class="title">
        {{ post.title }}
      </span>

      {% if post.tagline %}          <p>{{ post.tagline }}</p>
      {% elsif post.description %}   <p>{{ post.description }}</p>
      {% endif %}

      <div class="secondary-content">
        <i class="material-icons">grade</i>
      </div>
    </a>
  {% endfor %}
</div>
