<ul>
  {{#each model as |user|}}
    <li>
      {{user.name}}
      :
      <a href="/{{user.twitter}}">{{user.twitter}}</a>
    </li>
  {{/each}}
</ul>

{{#link-to 'index'}}
  Go to Index
{{/link-to}}
